.menu{
    z-index: 3;
    max-height:530px;
    overflow-y:scroll;
    width: 220px;
    margin-top: 44px;
    background: rgba(0, 0, 0, 0.2);
    padding: 1px 15px;
    border-radius: 5px;
    &::-webkit-scrollbar{
        display: none;
    }
}
.ad{
    color: white;
    margin-top: 5px;
    padding: 5px;
}
.col{
    z-index: 3;
    margin-top: 4%;
    position: relative;
    right: -0.8%;
}